@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-container,
.main-container-2 {
  width: 350px;
  background-color: rgba(32, 178, 44, 0.6);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 750px;
  border: 2px solid black;
}
.dropdown-container,
.dropdown-container-2 {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.dropdown_arrow,
.dropdown_arrow-2 {
  width: 15px;
  height: 15px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.sprite-container,
.sprite-container-2 {
  background-color: white;
  width: fit-content;
  border-radius: 50%;
  border: solid 5px grey;
  position: relative;
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
}
img {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Description container*/

.description-container,
.description-container-2 {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 5px rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.name {
  font-size: 40px;
  margin-bottom: 10px;
}
.type-container,
.type-container-2 {
  margin-bottom: 25px;
}
.type {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin: 0px 5px;
}
.grass {
  background-color: rgb(32, 178, 44);
}
.poison {
  background-color: rgb(196, 97, 226);
}
.text {
  line-height: 22px;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 20px;
  font-size: 22px;
}
/*Stats container*/
.stats-container,
.stats-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 30px);
  width: 250px;
}

/*button*/
button {
  padding: 10px 0px;
  border-radius: 20px;
  border-style: none;
  font-size: 20px;
  width: 141px;
  color: white;
  margin: 5px 5px;
  background-color: rgb(8, 9, 44);
  cursor: pointer;
}
button:hover {
  background-color: rgb(40, 42, 86);
}
#pokemon-list,
#pokemon-list-2 {
  width: 100%;
  font-size: 25px;
  padding: 10px 10px;
  border-radius: 10px;
  height: 50px;
  appearance: none;
}

.shiny-button {
  position: absolute;
  bottom: 0;
  right: -30%;
  background-color: white;
  width: 50px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 1px 2px 5px rgb(160, 160, 160);
  cursor: pointer;
}
.star-svg {
  width: 30px;
  height: 30px;
}
.stats-text,
.stats-text-2 {
  color: black;
}
